<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li *ngFor="let slider of slider_products;let cnt=index" data-target="#slider-carousel" data-slide-to="0" [ngClass]="!cnt?'active':''"></li>

                    </ol>

                    <div class="carousel-inner">



                        <div *ngFor="let slider of slider_products;let cnt=index" [ngClass]="!cnt?'item active':'item'">
                            <div class="col-sm-6">
                                <h1><span>SHOP</span>CENTER</h1>
                                <h2>{{ slider.title }}</h2>
                                <p>{{ slider.descriptions | slice:0:300 }}</p>
                                <a [routerLink]="['/product-details',slider.id]" type="button" class="btn btn-default get">Get it now</a>
                            </div>
                            <div class="col-sm-6">
                                <img [src]="slider.image" class="girl img-responsive" alt="" />
                            </div>


                        </div>







                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>