<div class="category-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <ng-container *ngFor="let category of all_categories;let cnt=index">
                <li [ngClass]="!cnt?'active':''"><a [href]="'#'+category.slug" data-toggle="tab">{{ category.name }}</a></li>
            </ng-container>
        </ul>
    </div>
    <div class="tab-content">
        <div [ngClass]="!cnt?'active':''" *ngFor="let category of all_categories;let cnt=index" class="tab-pane fade in" [id]="category.slug">
            <div *ngFor="let product of category.products" class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img width="150" height="150" [src]="'http://localhost:8000'+product.image" alt="" />
                            <h2>{{ product.price }}</h2>
                            <p>{{ product.title }}</p>
                            <a [routerLink]="['/product-details',product.id]" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
<!--/category-tab-->