<app-slider [slider_products]="slider_products"></app-slider>
<!--/slider-->

<section>
    <div class="container">
        <div class="row">

            <app-bestsellers-products [popular_products]="popular_products"></app-bestsellers-products>
            <!--/NewProduct_items-->

            <div class="col-sm-12 padding-right">
                <app-retail-sales [sale_products]="sale_products"></app-retail-sales>
                <app-whole-sales [whole_products]="whole_products"></app-whole-sales>
                <app-categories-products></app-categories-products>

            </div>

        </div>
    </div>
</section>