<h2>دسته بندی محصولات</h2>
<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    <ng-container *ngFor="let category of all_categories">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" [href]="'#'+category.slug ">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span> {{ category.name }}
                    </a>
                </h4>
            </div>
            <div [id]="category.slug " class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <ng-container *ngFor="let product of category.products">
                            <li><a [routerLink]="['/product-details',product.id]">{{ product.title }} </a></li>
                        </ng-container>

                    </ul>
                </div>
            </div>
        </div>

    </ng-container>

</div>
<!--/category-productsr-->