<div class="recommended_items">
    <!--NewProduct_items-->
    <h2 class="title text-center">پر فروش ترین محصولات</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div [ngClass]="!cnt?'active':''" *ngFor="let popular_product of popular_products;let cnt=index" class="item left">

                <div *ngFor="let item of popular_product" class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img width="200" height="200" [src]="item.image" alt="">
                                <h2>{{ item.price }}</h2>
                                <p>{{ item.title }}</p>
                                <a [routerLink]="['/product-details',item.id]" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خرید</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>




        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>