<div class="brands_products">
    <!--brands_products-->
    <h2>برنـد ها</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            <ng-container *ngFor="let brand of brands_infoes">
                <li>
                    <button (click)="sendBrandToAllProductComponent(brand.id)"> <span class="pull-left">({{ brand.count }})</span>{{ brand.name }}</button>
                </li>
            </ng-container>


        </ul>
    </div>
</div>
<!--/brands_products-->